<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../output.css">
    </head>

    <body>
        <div class="container h-screen flex items-center justify-center">
            <form action
                class="w-[90%] md:max-w-md shadow-lg rounded-md px-4 py-6"
                data-theme="light">
                <label for class="form-control w-full capitalize">
                    <div class="label">
                        <span class="label-text">input name</span>
                    </div>
                    <input type="text" name id
                        class="input input-bordered input-sm w-full">
                </label>
                <div class="form-control w-full mt-2">
                    <button
                        class="btn text-slate-200 bg-slate-600 capitalize">submit</button>
                </div>
            </form>
        </div>
    </body>

</html>